# ===============================
# Node.js (React, Next, Vite)
# ===============================
node_modules/
dist/
build/
.env
.env.local

# ===============================
# PHP
# ===============================
vendor/
.env
*.log

# ===============================
# Python (AI Service)
# ===============================
__pycache__/
*.pyc
venv/
.env

# ===============================
# VSCode
# ===============================
.vscode/

# ===============================
# System / OS
# ===============================
.DS_Store
Thumbs.db
